In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
new_air=pd.read_csv("D:/airdelay/newclean_air.csv")
new_air.shape

(4977716, 26)

In [3]:
new_air.iloc[1]

Unnamed: 0                    1
YEAR                       2015
MONTH                         1
DAY                           1
DAY_OF_WEEK                   4
AIRLINE                      AA
FLIGHT_NUMBER              2336
TAIL_NUMBER              N3KUAA
ORIGIN_AIRPORT              LAX
DESTINATION_AIRPORT         PBI
SCHEDULED_DEPARTURE          10
DEPARTURE_TIME                2
DEPARTURE_DELAY              -8
TAXI_OUT                     12
WHEELS_OFF                   14
SCHEDULED_TIME              280
ELAPSED_TIME                279
AIR_TIME                    263
DISTANCE                   2330
WHEELS_ON                   737
TAXI_IN                       4
SCHEDULED_ARRIVAL           750
ARRIVAL_TIME                741
ARRIVAL_DELAY                -9
Z-score                0.349004
ZD-score               0.650063
Name: 1, dtype: object

In [4]:
new_air=new_air.loc[:, ~new_air.columns.str.match('Unnamed')]

In [5]:
new_air.isnull().sum()

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
Z-score                0
ZD-score               0
dtype: int64

In [6]:
new_air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4977716 entries, 0 to 4977715
Data columns (total 25 columns):
YEAR                   int64
MONTH                  int64
DAY                    int64
DAY_OF_WEEK            int64
AIRLINE                object
FLIGHT_NUMBER          int64
TAIL_NUMBER            object
ORIGIN_AIRPORT         object
DESTINATION_AIRPORT    object
SCHEDULED_DEPARTURE    int64
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
TAXI_OUT               float64
WHEELS_OFF             float64
SCHEDULED_TIME         float64
ELAPSED_TIME           float64
AIR_TIME               float64
DISTANCE               int64
WHEELS_ON              float64
TAXI_IN                float64
SCHEDULED_ARRIVAL      int64
ARRIVAL_TIME           float64
ARRIVAL_DELAY          float64
Z-score                float64
ZD-score               float64
dtypes: float64(13), int64(8), object(4)
memory usage: 949.4+ MB

In [7]:
features_to_remove=['YEAR','TAXI_OUT','TAIL_NUMBER','DISTANCE',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME',
       'WHEELS_ON', 'TAXI_IN', 'ARRIVAL_TIME','FLIGHT_NUMBER']

In [8]:
cat_col=new_air[['AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']]
cat_col

        AIRLINE ORIGIN_AIRPORT DESTINATION_AIRPORT
0            AS            ANC                 SEA
1            AA            LAX                 PBI
2            US            SFO                 CLT
3            AA            LAX                 MIA
4            AS            SEA                 ANC
...         ...            ...                 ...
4977711      B6            LAX                 BOS
4977712      B6            JFK                 PSE
4977713      B6            JFK                 SJU
4977714      B6            MCO                 SJU
4977715      B6            JFK                 BQN

[4977716 rows x 3 columns]

In [9]:
df_cat=pd.get_dummies(cat_col,drop_first=True,prefix='', prefix_sep='')

In [10]:
df_cat

,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,...,TYS,UST,VEL,VLD,VPS,WRG,WYS,XNA,YAK,YUM
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977711,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4977712,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4977713,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4977714,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4977715,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df=new_air[['MONTH', 'DAY', 'DAY_OF_WEEK','SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 
            'DEPARTURE_DELAY', 'TAXI_OUT','SCHEDULED_ARRIVAL','ARRIVAL_DELAY']]

In [12]:
df=pd.concat([df,df_cat],axis=1)
df.head()

,MONTH,DAY,DAY_OF_WEEK,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,AS,...,TYS,UST,VEL,VLD,VPS,WRG,WYS,XNA,YAK,YUM
0,1,1,4,5,2354.0,-11.0,21.0,430,-22.0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,4,10,2.0,-8.0,12.0,750,-9.0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,4,20,18.0,-2.0,16.0,806,5.0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,4,20,15.0,-5.0,15.0,805,-9.0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,4,25,24.0,-1.0,11.0,320,-21.0,1,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df_sam=df.sample(n=100000)
df_sam.reset_index(drop=True)

,MONTH,DAY,DAY_OF_WEEK,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,AS,...,TYS,UST,VEL,VLD,VPS,WRG,WYS,XNA,YAK,YUM
0,6,14,7,1405,1409.0,4.0,40.0,1615,13.0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,19,2,2140,2150.0,10.0,11.0,2345,2.0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,21,2,1025,1025.0,0.0,20.0,1221,11.0,1,...,0,0,0,0,0,0,0,0,0,0
3,7,2,4,1430,1428.0,-2.0,28.0,1540,-1.0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,13,2,1800,1811.0,11.0,9.0,1908,3.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4,12,7,1933,1947.0,14.0,14.0,2035,36.0,0,...,0,0,0,0,0,0,0,0,0,0
99996,11,14,6,1030,1029.0,-1.0,16.0,1419,-24.0,0,...,0,0,0,0,0,0,0,0,0,0
99997,6,2,2,805,802.0,-3.0,11.0,920,-6.0,0,...,0,0,0,0,0,0,0,0,0,0
99998,3,30,1,1439,1425.0,-14.0,11.0,1735,-18.0,0,...,0,0,0,0,0,0,0,0,0,0
99999,8,2,7,2055,2053.0,-2.0,11.0,2225,-2.0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
X_1=df_sam.drop(["ARRIVAL_DELAY"],axis=1)
Y_1=df_sam.ARRIVAL_DELAY

In [15]:
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
X1_train, X1_test, y1_train, y1_test = train_test_split(X_1, Y_1, test_size=0.2, random_state=0)

In [16]:
from sklearn.ensemble import GradientBoostingRegressor
gbc = GradientBoostingRegressor(n_estimators=20,random_state=0)
gbc.fit(X1_train,y1_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=20,
                          n_iter_no_change=None, presort='auto', random_state=0,
                          subsample=1.0, tol=0.0001, validation_fraction=0.1,
                          verbose=0, warm_start=False)

In [17]:
print(gbc.score(X1_test,y1_test))

0.670429958865922

In [18]:
print(gbc.score(X1_train,y1_train))

0.6673302272693572

In [19]:
y1_pred = gbc.predict(X1_test)

In [20]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y1_test,  y1_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y1_test,   y1_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y1_test,   y1_pred)))

Mean Absolute Error: 8.085223900839022
Mean Squared Error: 119.6686302356422
Root Mean Squared Error: 10.93931580290295

In [21]:
from sklearn.metrics import mean_squared_error
import numpy as np

def rmse(a, b):
    return np.sqrt(mean_squared_error(a, b))

In [22]:
def test_params(**params):
    model = GradientBoostingRegressor( random_state=42, **params)
    model.fit(X1_train, y1_train)
    prd= model.predict(X1_test)
    train_rmse = rmse(model.predict(X1_train), y1_train)
    test_rmse = rmse(model.predict(X1_test), y1_test)
    Rmse = rmse(y1_test,prd)
    print('Train RMSE: {}, Test RMSE: {},RMSE:{}'.format(train_rmse, test_rmse,Rmse))

In [23]:
test_params(n_estimators=10)

Train RMSE: 12.541918250462851, Test RMSE: 12.48152835271015,RMSE:12.48152835271015

In [24]:
test_params(n_estimators=20)

Train RMSE: 11.034762016190594, Test RMSE: 10.93931580290295,RMSE:10.93931580290295

In [25]:
test_params(n_estimators=30)

Train RMSE: 10.601921445811282, Test RMSE: 10.487501627785043,RMSE:10.487501627785043

In [26]:
test_params(n_estimators=50)

Train RMSE: 10.230565994089506, Test RMSE: 10.108831550705288,RMSE:10.108831550705288

In [27]:
test_params(n_estimators=100)

Train RMSE: 9.920541384765697, Test RMSE: 9.8214762398101,RMSE:9.8214762398101

In [28]:
test_params(n_estimators=200)

Train RMSE: 9.671852236907934, Test RMSE: 9.626493874464003,RMSE:9.626493874464003

In [29]:
test_params(n_estimators=300)

Train RMSE: 9.519761990737438, Test RMSE: 9.519439120346904,RMSE:9.519439120346904

In [30]:
test_params(n_estimators=500)

Train RMSE: 9.336662281466607, Test RMSE: 9.411989589985046,RMSE:9.411989589985046

In [32]:
test_params(max_depth=2)

Train RMSE: 10.161616404083878, Test RMSE: 10.023413901479156,RMSE:10.023413901479156

In [33]:
test_params(max_depth=3)

Train RMSE: 9.920541384765697, Test RMSE: 9.8214762398101,RMSE:9.8214762398101

In [34]:
test_params(max_depth=5)

Train RMSE: 9.516644667675031, Test RMSE: 9.601421961574623,RMSE:9.601421961574623

In [35]:
test_params(max_depth=10)

Train RMSE: 7.7082008359016205, Test RMSE: 9.483161085385076,RMSE:9.483161085385076

In [36]:
test_params(n_estimators=50, learning_rate=0.01)

Train RMSE: 14.837571823661674, Test RMSE: 14.780811168211876,RMSE:14.780811168211876

In [37]:
test_params(n_estimators=100, learning_rate=0.01)

Train RMSE: 12.650739362904224, Test RMSE: 12.593108086883351,RMSE:12.593108086883351

In [38]:
test_params(n_estimators=50, learning_rate=0.1)

Train RMSE: 10.230565994089506, Test RMSE: 10.108831550705288,RMSE:10.108831550705288

In [39]:
test_params(n_estimators=50, learning_rate=0.2)

Train RMSE: 9.920270567138866, Test RMSE: 9.820486210163171,RMSE:9.820486210163171

In [41]:
test_params(n_estimators=50, learning_rate=0.3)

Train RMSE: 9.7936594037432, Test RMSE: 9.697713589369602,RMSE:9.697713589369602

In [43]:
#HYper parameter-model
from sklearn.ensemble import GradientBoostingRegressor
modelhy = GradientBoostingRegressor(n_estimators=200, learning_rate=0.3,max_depth=5, 
                                     random_state=42)
modelhy.fit(X1_train, y1_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.3, loss='ls', max_depth=5,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=200,
                          n_iter_no_change=None, presort='auto',
                          random_state=42, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [44]:
modelhy.score(X1_train,y1_train)

0.8028367669299683

In [45]:
modelhy.score(X1_test,y1_test)

0.7623083476990064

In [46]:
yh1_pred = modelhy.predict(X1_test)

In [47]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y1_test,  yh1_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y1_test,   yh1_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y1_test,   yh1_pred)))

Mean Absolute Error: 6.696727293663154
Mean Squared Error: 86.30709985479093
Root Mean Squared Error: 9.290161454721384

In [67]:
def predict_price(AIRLINE,ORIGIN_AIRPORT, DESTINATION_AIRPORT,MONTH, DAY, DAY_OF_WEEK,SCHEDULED_DEPARTURE, DEPARTURE_TIME, 
            DEPARTURE_DELAY, TAXI_OUT,SCHEDULED_ARRIVAL):    
    loc_index = np.where(X_1.columns==AIRLINE)[0][0]
    loc1_index = np.where(X_1.columns==ORIGIN_AIRPORT)[0][0]
    loc2_index = np.where(X_1.columns==DESTINATION_AIRPORT)[0][0]

    x = np.zeros(len(X_1.columns))
    x[0] = MONTH
    x[1] = DAY
    x[2] = DAY_OF_WEEK
    x[3] = SCHEDULED_DEPARTURE
    x[4] = DEPARTURE_TIME
    x[5] = DEPARTURE_DELAY
    x[6] = TAXI_OUT
    x[7] = SCHEDULED_ARRIVAL
    
    if loc_index >= 0:
        x[loc_index] = 1
    if loc1_index >= 0:
        x[loc1_index] = 1
    if loc2_index >= 0:
        x[loc2_index] = 1

    return modelhy.predict([x])[0]

In [68]:
predict_price('AS','ANC','SEA',1,4,2,1252,1247.0,-5.0,14.0,1429)

-4.805429347706461

In [ ]:
import pickle
with open('USflight_delay_model.pickle','wb') as f:
    pickle.dump(modelhy,f)

In [ ]:
import json
columns = {
    'data_columns' : [col.lower() for col in X_1.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))