In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
airdelay=pd.read_csv("D:/airdelay/flights.csv")
airdelay

C:\Users\vinay\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
variables_to_remove=[ 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']

In [4]:
airdelay.drop(variables_to_remove,axis=1,inplace= True)

In [5]:
airdelay=airdelay.dropna()

In [6]:
airdelay.shape

(5714008, 23)

In [7]:
#airdelay['ORIGIN_AIRPORT'].nunique()
airdelay['DESTINATION_AIRPORT'].nunique()
airdelay['AIRLINE'].nunique()

14

In [8]:
airlines=airdelay['AIRLINE'].value_counts()
airlines

WN    1242403
DL     870275
AA     712935
OO     576814
EV     554752
UA     507762
MQ     278791
B6     262042
US     194223
AS     171439
NK     115193
F9      90090
HA      76041
VX      61248
Name: AIRLINE, dtype: int64

In [9]:
airports=airdelay['ORIGIN_AIRPORT'].value_counts()
airports

ATL      343506
ORD      276554
DFW      232647
DEN      193402
LAX      192003
          ...
11905         1
14222         1
11097         1
12265         1
13502         1
Name: ORIGIN_AIRPORT, Length: 929, dtype: int64

In [7]:
airport=pd.read_csv('D://airdelay//airports.csv')
airport

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [8]:
airdelay.loc[~airdelay.ORIGIN_AIRPORT.isin(airport.IATA_CODE.values),'ORIGIN_AIRPORT']='Others'
airdelay.loc[~airdelay.DESTINATION_AIRPORT.isin(airport.IATA_CODE.values),'DESTINATION_AIRPORT']='Others'

C:\Users\vinay\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [9]:
airdelay['ORIGIN_AIRPORT'].nunique()
airdelay['DESTINATION_AIRPORT'].nunique()

323

In [10]:
new_airports=airdelay['ORIGIN_AIRPORT'].value_counts()
new_airports

Others    482878
ATL       343506
ORD       276554
DFW       232647
DEN       193402
           ...
DLG           77
STC           77
GST           76
AKN           63
ITH           30
Name: ORIGIN_AIRPORT, Length: 323, dtype: int64

In [11]:
airdelay.isnull().sum()

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
dtype: int64

In [12]:
import numpy as np
from scipy import stats

In [13]:
new_air=airdelay.copy()
new_air.shape

(5714008, 23)

In [14]:
new_air=new_air.loc[~new_air.ORIGIN_AIRPORT.str.contains('Others')]

In [15]:
new_air.loc[new_air['DESTINATION_AIRPORT']=='Others']

Empty DataFrame
Columns: [YEAR, MONTH, DAY, DAY_OF_WEEK, AIRLINE, FLIGHT_NUMBER, TAIL_NUMBER, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE, DEPARTURE_TIME, DEPARTURE_DELAY, TAXI_OUT, WHEELS_OFF, SCHEDULED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, WHEELS_ON, TAXI_IN, SCHEDULED_ARRIVAL, ARRIVAL_TIME, ARRIVAL_DELAY]
Index: []

[0 rows x 23 columns]

In [16]:
new_air.shape

(5231130, 23)

In [17]:
new_air['Z-score']=stats.zscore(new_air['ARRIVAL_DELAY'],axis=0)

In [18]:
new_air.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,Z-score
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,-0.675741
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,-0.349004
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0.002868
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,-0.349004
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,-0.650608

In [25]:
new_air['Z-score']=np.abs(new_air['Z-score'])

In [26]:
new_air['Z-score'].max()

2.993773572629102

In [27]:
new_air['Z-score'].min()

0.002867674397253843

In [28]:
new_air=new_air[new_air['Z-score']<3]

In [29]:
new_air.shape

(5128856, 24)

In [30]:
new_air['Z-score'].max()

2.993773572629102

In [31]:
new_air['Z-score'].min()

0.002867674397253843

In [32]:
new_air['ZD-score']=stats.zscore(new_air['DEPARTURE_DELAY'],axis=0)

In [33]:
new_air['ZD-score']=np.abs(new_air['ZD-score'])

In [34]:
new_air['ZD-score'].max()

8.968958391994768

In [35]:
new_air['ZD-score'].min()

0.003656731782255307

In [36]:
new_air=new_air[new_air['ZD-score']<3]

In [37]:
new_air.shape

(4977716, 25)

In [24]:
new_air.corr()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,Z-score
YEAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MONTH,NaN,1.000000,0.000605,-0.013947,-0.018585,0.000765,-0.002174,-0.020412,-0.007653,-0.003431,0.012988,0.005348,0.006065,0.012815,-0.010881,0.004482,-0.011679,-0.011402,-0.041709,0.000403
DAY,NaN,0.000605,1.000000,0.004762,0.004224,-0.001525,-0.002394,-0.005305,-0.002496,-0.002939,0.002690,0.001012,0.001439,0.002926,-0.004199,-0.001366,-0.003881,-0.004202,-0.009873,-0.003296
DAY_OF_WEEK,NaN,-0.013947,0.004762,1.000000,0.016089,0.008497,0.006761,-0.013107,-0.021937,0.005180,0.014511,0.011091,0.013896,0.015644,0.006559,0.001347,0.007613,0.006577,-0.022557,-0.004723
FLIGHT_NUMBER,NaN,-0.018585,0.004224,0.016089,1.000000,-0.005788,-0.002400,-0.022132,0.049617,0.004443,-0.316141,-0.307259,-0.319848,-0.330064,-0.008214,-0.020602,-0.013235,-0.004904,0.022406,-0.009449
SCHEDULED_DEPARTURE,NaN,0.000765,-0.001525,0.008497,-0.005788,1.000000,0.977331,0.167839,0.002910,0.952980,-0.015513,-0.017859,-0.015150,-0.008126,0.678137,-0.047051,0.702859,0.651722,0.140703,0.075857
DEPARTURE_TIME,NaN,-0.002174,-0.002394,0.006761,-0.002400,0.977331,1.000000,0.217938,0.005271,0.974060,-0.020932,-0.023328,-0.021042,-0.015678,0.690911,-0.047106,0.713925,0.664090,0.184711,0.109102
DEPARTURE_DELAY,NaN,-0.020412,-0.005305,-0.013107,-0.022132,0.167839,0.217938,1.000000,0.030503,0.211787,0.035543,0.030403,0.029435,0.033645,0.116956,-0.024562,0.141137,0.107177,0.859157,0.674275
TAXI_OUT,NaN,-0.007653,-0.002496,-0.021937,0.049617,0.002910,0.005271,0.030503,1.000000,0.031355,0.117843,0.204885,0.091569,0.076790,0.030561,-0.001901,0.020734,0.028286,0.285635,0.087904
WHEELS_OFF,NaN,-0.003431,-0.002939,0.005180,0.004443,0.952980,0.974060,0.211787,0.031355,1.000000,-0.028755,-0.028899,-0.029979,-0.027341,0.708680,-0.045590,0.727815,0.681751,0.186530,0.106187
SCHEDULED_TIME,NaN,0.012988,0.002690,0.014511,-0.316141,-0.015513,-0.020932,0.035543,0.117843,-0.028755,1.000000,0.986131,0.990794,0.984197,0.026410,0.103168,0.031388,0.023551,-0.057866,0.086116
ELAPSED_TIME,NaN,0.005348,0.001012,0.011091,-0.307259,-0.017859,-0.023328,0.030403,0.204885,-0.028899,0.986131,1.000000,0.990730,0.974474,0.027613,0.155780,0.029996,0.024820,0.022548,0.072213
AIR_TIME,NaN,0.006065,0.001439,0.013896,-0.319848,-0.015150,-0.021042,0.029435,0.091569,-0.029979,0.990794,0.990730,1.000000,0.985534,0.025541,0.085081,0.028997,0.022278,-0.020847,0.062375
DISTANCE,NaN,0.012815,0.002926,0.015644,-0.330064,-0.008126,-0.015678,0.033645,0.076790,-0.027341,0.984197,0.974474,0.985534,1.000000,0.022005,0.078850,0.026742,0.018166,-0.046192,0.066405
WHEELS_ON,NaN,-0.010881,-0.004199,0.006559,-0.008214,0.678137,0.690911,0.116956,0.030561,0.708680,0.026410,0.027613,0.025541,0.022005,1.000000,-0.010961,0.898660,0.969170,0.104923,0.038948
TAXI_IN,NaN,0.004482,-0.001366,0.001347,-0.020602,-0.047051,-0.047106,-0.024562,-0.001901,-0.045590,0.103168,0.155780,0.085081,0.078850,-0.010961,1.000000,-0.008828,-0.002101,0.133466,0.017549
SCHEDULED_ARRIVAL,NaN,-0.011679,-0.003881,0.007613,-0.013235,0.702859,0.713925,0.141137,0.020734,0.727815,0.031388,0.029996,0.028997,0.026742,0.898660,-0.008828,1.000000,0.891489,0.117998,0.068230
ARRIVAL_TIME,NaN,-0.011402,-0.004202,0.006577,-0.004904,0.651722,0.664090,0.107177,0.028286,0.681751,0.023551,0.024820,0.022278,0.018166,0.969170,-0.002101,0.891489,1.000000,0.096685,0.033699
ARRIVAL_DELAY,NaN,-0.041709,-0.009873,-0.022557,0.022406,0.140703,0.184711,0.859157,0.285635,0.186530,-0.057866,0.022548,-0.020847,-0.046192,0.104923,0.133466,0.117998,0.096685,1.000000,0.544687
Z-score,NaN,0.000403,-0.003296,-0.004723,-0.009449,0.075857,0.109102,0.674275,0.087904,0.106187,0.086116,0.072213,0.062375,0.066405,0.038948,0.017549,0.068230,0.033699,0.544687,1.000000

In [38]:
features_to_remove=['YEAR','TAXI_OUT','TAIL_NUMBER','DISTANCE',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME',
       'WHEELS_ON', 'TAXI_IN', 'ARRIVAL_TIME','FLIGHT_NUMBER','Z-score','ZD-score']

In [39]:
new_air.to_csv("D:/airdelay/newclean_air.csv")

In [30]:
new_air.drop(features_to_remove,axis=1,inplace= True)

In [31]:
new_air.drop(['Z-score'],axis=1,inplace=True)

In [32]:
new_air.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_DELAY
0,1,1,4,AS,ANC,SEA,5,2354.0,-11.0,430,-22.0
1,1,1,4,AA,LAX,PBI,10,2.0,-8.0,750,-9.0
2,1,1,4,US,SFO,CLT,20,18.0,-2.0,806,5.0
3,1,1,4,AA,LAX,MIA,20,15.0,-5.0,805,-9.0
4,1,1,4,AS,SEA,ANC,25,24.0,-1.0,320,-21.0

In [33]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
new_air['AIRLINE'] = labelencoder.fit_transform(new_air['AIRLINE'].astype('str'))
new_air['ORIGIN_AIRPORT'] = labelencoder.fit_transform(new_air['ORIGIN_AIRPORT'].astype('str'))
new_air['DESTINATION_AIRPORT'] = labelencoder.fit_transform(new_air['DESTINATION_AIRPORT'].astype('str'))
new_air.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_DELAY
0,1,1,4,1,17,277,5,2354.0,-11.0,430,-22.0
1,1,1,4,0,176,235,10,2.0,-8.0,750,-9.0
2,1,1,4,11,278,66,20,18.0,-2.0,806,5.0
3,1,1,4,0,176,203,20,15.0,-5.0,805,-9.0
4,1,1,4,1,277,17,25,24.0,-1.0,320,-21.0

In [34]:
new_air.shape

(5128856, 11)

In [35]:
X=new_air.drop(["ARRIVAL_DELAY"],axis=1)
Y=new_air.ARRIVAL_DELAY

In [36]:
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [37]:
from sklearn.linear_model import LinearRegression 
regr = LinearRegression() 
  
regr.fit(X_train, y_train) 
print(regr.score(X_test, y_test))

0.7381300290058945

In [38]:
regr.score(X_train,y_train)

0.7394313925583427

In [44]:
y1_pred = regr.predict(X_test)

In [45]:
df2 = pd.DataFrame({'Actual': y_test, 'Predicted': y1_pred})
df2

         Actual  Predicted
5655949     2.0  -3.874440
1871359    -4.0  -9.795104
322481     -5.0  -4.872247
3675455   103.0  80.212375
4153851     4.0  -6.364707
...         ...        ...
3459697    -8.0 -14.715822
3639945     8.0  -4.496102
3007187    55.0  75.558195
4244848   -21.0 -14.277552
3078093   -11.0 -12.381579

[1025772 rows x 2 columns]

In [41]:
from sklearn.ensemble import RandomForestRegressor

RTR = RandomForestRegressor(n_estimators=20, random_state=0)
RTR.fit(X_train, y_train)
print(RTR.score(X_test, y_test))
y_pred = RTR.predict(X_test)

0.7576403476872267

In [42]:
print(RTR.score(X_train, y_train))

0.9615929278894436

In [33]:
from sklearn.ensemble import GradientBoostingRegressor
gbc = GradientBoostingRegressor(n_estimators=20,random_state=0)
gbc.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=20,
                          n_iter_no_change=None, presort='auto', random_state=0,
                          subsample=1.0, tol=0.0001, validation_fraction=0.1,
                          verbose=0, warm_start=False)

In [44]:
print(gbc.score(X_test,y_test))

0.7258492787368969

In [45]:
print(gbc.score(X_train,y_train))

0.7271433018466864

In [84]:
train_rmse = rmse(gbc.predict(X1_train), y1_train)
test_rmse = rmse(gbc.predict(X1_test), y1_test)
print(test_rmse)

12.851547396812682

In [46]:
prd= gbc.predict(X_test)

In [47]:
df_gb = pd.DataFrame({'Actual': y_test, 'Predicted': prd})
df_gb

         Actual  Predicted
5655949     2.0  -2.659732
1871359    -4.0  -8.775548
322481     -5.0  -5.723373
3675455   103.0  70.633771
4153851     4.0  -5.563444
...         ...        ...
3459697    -8.0 -10.613995
3639945     8.0  -3.564405
3007187    55.0  67.615788
4244848   -21.0 -10.107350
3078093   -11.0  -9.424173

[1025772 rows x 2 columns]

In [39]:
df=new_air.sample(n=100000)
df.reset_index(drop=True)

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_DELAY
0,7,18,6,4,254,228,620,616.0,-4.0,935,1.0
1,3,16,1,3,238,20,1245,1241.0,-4.0,1500,-22.0
2,12,20,7,2,193,39,1815,1809.0,-6.0,2104,4.0
3,9,8,2,13,85,236,1440,1456.0,16.0,1625,2.0
4,12,25,5,9,91,85,1026,1158.0,92.0,1134,124.0
...,...,...,...,...,...,...,...,...,...,...,...
99995,9,24,4,10,85,228,2009,2005.0,-4.0,2335,-12.0
99996,2,9,1,13,20,85,620,641.0,21.0,750,13.0
99997,4,24,5,13,49,51,1030,1025.0,-5.0,1145,-18.0
99998,11,9,1,6,176,141,1000,959.0,-1.0,1355,9.0
99999,2,6,5,12,39,176,1745,1802.0,17.0,2125,-9.0

In [40]:
X_1=df.drop(["ARRIVAL_DELAY"],axis=1)
Y_1=df.ARRIVAL_DELAY

In [41]:
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
X1_train, X1_test, y1_train, y1_test = train_test_split(X_1, Y_1, test_size=0.2, random_state=0)

In [51]:
RTR_1 = RandomForestRegressor(n_estimators=100, random_state=0)
RTR_1.fit(X1_train, y1_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [52]:
print(RTR_1.score(X1_train,y1_train))

0.96350598130649

In [53]:
print(RTR_1.score(X1_test,y1_test))

0.7520487253394269

In [42]:
from sklearn.ensemble import GradientBoostingRegressor
gbc = GradientBoostingRegressor(n_estimators=20,random_state=0)
gbc.fit(X1_train,y1_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=20,
                          n_iter_no_change=None, presort='auto', random_state=0,
                          subsample=1.0, tol=0.0001, validation_fraction=0.1,
                          verbose=0, warm_start=False)

In [37]:
print(gbc.score(X1_test,y1_test))

0.7305263198146796

In [43]:
print(gbc.score(X1_train,y1_train))

0.7306456842059572

In [44]:
from sklearn.metrics import mean_squared_error
import numpy as np

def rmse(a, b):
    return np.sqrt(mean_squared_error(a, b))

In [45]:
def test_params(**params):
    model = GradientBoostingRegressor( random_state=42, **params)
    model.fit(X1_train, y1_train)
    prd= model.predict(X1_test)
    train_rmse = rmse(model.predict(X1_train), y1_train)
    test_rmse = rmse(model.predict(X1_test), y1_test)
    Rmse = rmse(y1_test,prd)
    print('Train RMSE: {}, Test RMSE: {},RMSE:{}'.format(train_rmse, test_rmse,Rmse))

Hyper parameter n_estimators

In [79]:
test_params(n_estimators=10)

Train RMSE: 14.54151195271888, Test RMSE: 14.510561577651035,RMSE:14.510561577651035

In [80]:
test_params(n_estimators=20)

Train RMSE: 12.703731194098472, Test RMSE: 12.638578116040778,RMSE:12.638578116040778

In [81]:
test_params(n_estimators=50)

Train RMSE: 12.218521375963103, Test RMSE: 12.17630081732747,RMSE:12.17630081732747

In [82]:
test_params(n_estimators=100)

Train RMSE: 12.098580128269806, Test RMSE: 12.093738724387606,RMSE:12.093738724387606

In [83]:
test_params(n_estimators=150)

Train RMSE: 12.030046835870982, Test RMSE: 12.055616114885197,RMSE:12.055616114885197

In [84]:
test_params(n_estimators=200)

Train RMSE: 11.97749791801365, Test RMSE: 12.027874232194788,RMSE:12.027874232194788

In [85]:
test_params(n_estimators=250)

Train RMSE: 11.927671569963387, Test RMSE: 12.000390987921707,RMSE:12.000390987921707

In [86]:
test_params(n_estimators=500)

Train RMSE: 11.777479441869993, Test RMSE: 11.950179417065103,RMSE:11.950179417065103

In [87]:
test_params(n_estimators=1000)

Train RMSE: 11.587882477485817, Test RMSE: 11.917745297692067,RMSE:11.917745297692067

In [67]:
test_params(max_depth=2)

Train RMSE: 12.292504757944943, Test RMSE: 12.390178430482953,RMSE:12.390178430482953

In [68]:
test_params(max_depth=3)

Train RMSE: 12.200261512463198, Test RMSE: 12.330615637976845,RMSE:12.330615637976845

In [69]:
test_params(max_depth=5)

Train RMSE: 11.916784034682035, Test RMSE: 12.237933205231522,RMSE:12.237933205231522

In [71]:
test_params(max_depth=7)

Train RMSE: 11.22797275905884, Test RMSE: 12.2181833693689,RMSE:12.2181833693689

In [70]:
test_params(max_depth=10)

Train RMSE: 8.832188262250467, Test RMSE: 12.34094007076977,RMSE:12.34094007076977

In [ ]:
test_params(max_depth=20)

In [40]:
test_params(n_estimators=50, learning_rate=0.01)

Train RMSE: 17.754394324229, Test RMSE: 18.075003676020952,RMSE:18.075003676020952

In [43]:
test_params(n_estimators=100, learning_rate=0.01)

Train RMSE: 14.608480376403486, Test RMSE: 14.855616680011865,RMSE:14.855616680011865

In [42]:
test_params(n_estimators=250, learning_rate=0.01)

Train RMSE: 12.43768247754176, Test RMSE: 12.64612350221499,RMSE:12.64612350221499

In [44]:
test_params(n_estimators=350, learning_rate=0.01)

Train RMSE: 12.261474955333224, Test RMSE: 12.482231780892032,RMSE:12.482231780892032

In [41]:
test_params(n_estimators=500, learning_rate=0.01)

Train RMSE: 12.155266764778496, Test RMSE: 12.390564939610119,RMSE:12.390564939610119

In [45]:
test_params(n_estimators=500, learning_rate=0.1)

Train RMSE: 11.715108174985948, Test RMSE: 12.129619199848777,RMSE:12.129619199848777

In [49]:
test_params(n_estimators=500, learning_rate=0.3)

Train RMSE: 11.528643726264052, Test RMSE: 12.183413978300639,RMSE:12.183413978300639

In [48]:
test_params(n_estimators=600, learning_rate=0.3)

Train RMSE: 11.452119681501946, Test RMSE: 12.184605076211394,RMSE:12.184605076211394

In [53]:
test_params(n_estimators=800, learning_rate=0.1)

Train RMSE: 11.764578480249552, Test RMSE: 12.166995057199827,RMSE:12.166995057199827

In [55]:
test_params(n_estimators=800, learning_rate=0.2)

Train RMSE: 11.50166510079717, Test RMSE: 12.149670374996514,RMSE:12.149670374996514

In [56]:
test_params(n_estimators=1000, learning_rate=0.1)

Train RMSE: 11.699073036254566, Test RMSE: 12.156889197410532,RMSE:12.156889197410532

In [57]:
test_params(n_estimators=1000, learning_rate=0.2)

Train RMSE: 11.400490931534456, Test RMSE: 12.14262577383919,RMSE:12.14262577383919

In [47]:
test_params(n_estimators=50, learning_rate=0.5)

Train RMSE: 11.887188730118694, Test RMSE: 12.229089169090267,RMSE:12.229089169090267

In [49]:
test_params(n_estimators=50, learning_rate=0.7)

Train RMSE: 11.838901878126558, Test RMSE: 12.213213164847966,RMSE:12.213213164847966

In [48]:
test_params(n_estimators=50, learning_rate=0.9)

Train RMSE: 11.837783441703644, Test RMSE: 12.266643856456085,RMSE:12.266643856456085

In [51]:
test_params(n_estimators=1000, learning_rate=0.3)

Train RMSE: 11.009841952022725, Test RMSE: 12.120159739993515,RMSE:12.120159739993515

In [105]:
model_hy = GradientBoostingRegressor(n_estimators=300, learning_rate=0.2,max_depth=3,subsample=0.8, 
                                     random_state=42)#500
model_hy.fit(X1_train, y1_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.2, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=300,
                          n_iter_no_change=None, presort='auto',
                          random_state=42, subsample=0.8, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [106]:
model_hy.score(X1_train,y1_train)

0.7694720275016927

In [107]:
model_hy.score(X1_test,y1_test)

0.7557702398019741

In [108]:
y1_pred = model_hy.predict(X1_test)

In [109]:
df_gb_hy = pd.DataFrame({'Actual': y1_test, 'Predicted': y1_pred})
df_gb_hy

         Actual  Predicted
5141549     2.0 -13.330266
4154665     5.0  -6.890827
1789027   -11.0  -8.977866
3011080    11.0  -0.651470
36088      -5.0  -7.035718
...         ...        ...
752171     -4.0   1.455000
1292478    -4.0  -4.917082
619516    -12.0  -6.346907
4268997   -28.0 -12.198972
1212826    -1.0  -7.324065

[20000 rows x 2 columns]

In [110]:
train_rmse = rmse(model_hy.predict(X1_train), y1_train)
test_rmse = rmse(model_hy.predict(X1_test), y1_test)
print(train_rmse,test_rmse)

11.831331815737482 12.17479550175932

In [61]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y1_test,  y1_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y1_test,   y1_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y1_test,   y1_pred)))

Mean Absolute Error: 8.737936067268786
Mean Squared Error: 152.02091889261266
Root Mean Squared Error: 12.3296763498728